.row {
  /* border: 1px solid saddlebrown; */
  height: 100vh;
}

.signup .btn {
  background-color: #18abe6;
  color: rgb(255, 255, 255);
}

.signup .btn:hover {
  background-color: #0f8fc2;
  color: rgb(255, 255, 255);
}

.signup .row > form {
  /* border: 1px solid goldenrod; */
  margin: auto 0;
}

.signup .text-right a:hover {
  color: #18abe6;
}
